/* Table */
.table-loco thead {
    background-color: #e9ecf0;
    border-bottom: none;
}

.table-loco thead th {
    border-bottom: none;
    height: 64px;
}




.o_cell_hover {
    background-color: #cfd8e1;
    cursor: pointer;
}
